:root{
    --primary-color: #897e72;
    --secundary-color: #a29587;
    --background-color: #beae9d;
    --text-color: #cecccc ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #beae9d;
}

/* header */

.header-text{
    font-family: 'Fira Sans', sans-serif;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(36, 35, 35);
}

header{
    background-color: var(--primary-color);
}

.header-title{
    display: flex;
    justify-content: center;
    padding: 5px 0px 10px 0px;
}

/* Nav */

nav{
    box-shadow: 1px 7px 10px 0px rgb(162, 149, 135);
}

.main-nav ul, li, a{
    font-family: 'Cookie', cursive;
    font-size: 2.3rem;
    background-color: #a29587;
    color: white;
    text-decoration: none;
    display: flex;

}

.main-nav li{
    margin-left: 10px;
}



.main-nav a{
    padding-left: 8px;
    border-left: solid 2px white;
}

.main-nav a:hover{
    color: black;
}

.main-nav li, a:first-child{
    border-right: solid white white;
}

/* Location */

.location i{
    margin-right: 5px;
    color: red;
}

.location{
    font-size: 2rem;
    text-align: center;
    padding: 20px 0 0 0;
    text-decoration: underline red 2px;
}

/* Main */

.menu{
    display: flexbox;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.menu-card{
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    background-image: linear-gradient(#000000ce, transparent), url(./assets/alfajores-de-maicena.jpg);
    background-size: cover;
    text-align: center;
    margin: 20px 50px 10px 50px;
}

.menu-card h2{
    color: var(--primary-color);
    text-decoration: overline black;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 4rem;
}

.menu-card p{
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: 'Fira Sans', sans-serif;
}

.menu button{
    font-size: 1.7rem;
    font-family: 'Fira Sans', sans-serif;   
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secundary-color);
    border-style: solid;
    border: 3px solid #706c67;
}

.menu button:hover{
    cursor: pointer;
    background-color: #706c67;
}

.menu-card:nth-of-type(2){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/brownie.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(3){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/budin-de-chocolate.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(4){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/cupcake.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(5){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(6){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/dona.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(7){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/galletitas.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(8){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/medialunas.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(9){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/pan-de-molde.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(10){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/chocotorta.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(11){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/tarta-de-coco.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(12){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/trufas-de-chocolate.jpg);
    background-size: cover;
}

/* Footer */

footer{
    background-color: var(--secundary-color);
}

.contact h3{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: overline;
    font-size: 3rem;
    margin-bottom: 10px;
}

.contact a{
    font-size: 2.6rem;
    align-items: baseline;
}

.contact i{
    margin-left: 5px;
}

.contact h3, li{
    text-align: center;
    justify-content: center;
}

.contact li{
    text-decoration: underline black;
    padding: 5px ;
    padding-bottom: 15px;
}

@media only screen and (min-width: 374px){

.menu-card{
        min-width: 300px;
        min-height: 150px;
}

}

@media only screen and (min-width: 767px){

.menu-card{
    min-width: 300px;
    min-height: 150px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-card p{
    margin-top: 50px;
}

.menu-card{
        min-width: 300px;
        min-height: 150px;
}

.contact h3{
    text-align: left;
    text-decoration: overline ;
    margin-top: 70px;
    margin-left: 60px;
}

.contact a, li{
    font-size: 3.5rem;
    margin-top: 20px;
    justify-content: left;
    margin-left: 35px;
}

.contact{
    text-decoration: none;
}

.main-nav a{
    font-size: 3rem;
}

}


@media only screen and (min-width: 1000px)  {

.main-nav a{
    font-size: 3rem;
}

.location{
    font-size: 3rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-card p{
    margin-top: 50px;
}


.menu-card{
        min-width: 300px;
        min-height: 150px;
}

.menu-card:hover{
    transition: .5s ease all;
    transform: scale(1.2);
}

.contact h3{
    text-align: left;
    text-decoration: overline ;
    margin-top: 70px;
    margin-left: 60px;
}

.contact a{
    font-size: 3.5rem;
    margin-top: 20px;
    margin-left: 30px;
}

}
