:root{
    --primary-color: #897e72;
    --secundary-color: #a29587;
    --background-color: #beae9d;
    --text-color: #cecccc ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: #beae9d;
}

/* slider */

.slider {
    overflow: hidden;
    margin: 20px;
    width: 90%;
    border-radius: 10px ;
}

.slider img{
    width: 100%;
}

.slider li{
    width: 100%;
}

.slider ul{
    width: 400%;
    display: flex;
    animation: deslizar 15s infinite alternate ;
}

@keyframes deslizar {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.slider li{
    width: 400%;
}

/* header */

.header-text{
    font-family: 'Fira Sans', sans-serif;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(36, 35, 35);
}

header{
    background-color: var(--primary-color);
}

.header-title{
    display: flex;
    justify-content: center;
    padding: 5px 0px 10px 0px;
}

/* Nav */

nav{
    box-shadow: 1px 7px 10px 0px rgb(162, 149, 135);
}

.main-nav ul, li, a{
    font-family: 'Cookie', cursive;
    font-size: 2.3rem;
    background-color: #a29587;
    color: white;
    text-decoration: none;
    display: flex;

}

.main-nav li{
    margin-left: 10px;
}



.main-nav a{
    padding-left: 8px;
    border-left: solid 2px white;
}

.main-nav a:hover{
    color: black;
}

.main-nav li, a:first-child{
    border-right: solid white white;
}

/* Main */

.menu{
    padding-top: 10px;
    display: flexbox;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.menu-card{
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    background-image: linear-gradient(#000000ce, transparent), url(./assets/alfajores-de-maicena.jpg);
    background-size: cover;
    text-align: center;
    margin: 20px 50px 10px 50px;
}

.menu-card h2{
    color: var(--primary-color);
    text-decoration: overline black;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 4rem;
}

.menu-card p{
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: 'Fira Sans', sans-serif;
}

.menu button{
    font-size: 1.7rem;
    font-family: 'Fira Sans', sans-serif;   
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secundary-color);
    border-style: solid;
    border: 3px solid #706c67;
}

.menu button:hover{
    cursor: pointer;
    background-color: #706c67;
}

.menu-card:nth-of-type(2){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/brownie.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(3){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/budin-de-chocolate.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(4){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/cupcake.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(5){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(6){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/dona.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(7){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/galletitas.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(8){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/medialunas.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(9){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/pan-de-molde.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(10){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/chocotorta.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(11){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/tarta-de-coco.jpg);
    background-size: cover;
}

.menu-card:nth-of-type(12){
    background-image: linear-gradient(#000000ce, transparent), url(./assets/trufas-de-chocolate.jpg);
    background-size: cover;
}

/* Footer */

.footer-cards{
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-card-info i{
    margin-right: 5px;
}

.footer-card-info{
    margin: 20px;
    text-align: center;
    font-size: 1.3rem;
}

.footer-card-info__rrss a, li{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    align-items: center;
}

.footer-card-info p{
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

.footer-card-info h3{
    margin-bottom: 5px;
}

.footer-card-info__rrss_icon i{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: white;
}

.footer-credits{
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--secundary-color);
}

/* Location */

.location i{
    margin-right: 5px;
    color: red;
}

.location{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0 0 0;
}

.location span{
    color: darkgreen;
}

.location h2{
    font-size: 2.6rem;
    text-decoration: underline red;
    margin-bottom: 5px;
}

.location p{
    margin: 0 10px 5px 10px ;
    font-size: 2rem ;
}

@media only screen and (min-width: 374px){

.footer-card-info p{
    margin: 0px 60px;
}

.menu-card{
    min-width: 300px;
    min-height: 150px;
}

@media only screen and (min-width: 424px){

.slider img{
    width: 380px;
    height: 250px;
}

}

@media only screen and (min-width: 767px){

.footer-cards{
    justify-content: space-evenly;
}

.footer-card-info{
    margin: 20px 200px;
}
    
.slider {
    border-bottom: 5px solid var(--primary-color) ;
    overflow: hidden;
    margin: 50px 0 0 20px;
    width: 90%;
    border-bottom: none;
}
    
.slider img{
    background-color: var(--background-color);
    border-radius: 10px;
    height: 300px;
    width: 100%;
}

.menu-card{
    min-width: 300px;
    min-height: 150px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-card p{
    margin-top: 50px;
}

.menu-card{
    min-width: 300px;
    min-height: 150px;
}

.main-nav a{
    font-size: 3rem;
}

.footer-card-info h3{
    font-size: 2rem;
}

.footer-card-info p, a, li{
    font-size: 1.6rem;
}

}


@media only screen and (min-width: 1000px) {

.slider{
    margin-left: 65px;
}

.slider img{
    background-color: var(--background-color);
    border-radius: 10px;
    width: 100%;
    height: 500px;
}
    

.main-nav a{
    font-size: 3rem;
}

.location{
    font-size: 3rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-card p{
    margin-top: 50px;
}


.menu-card{
        min-width: 300px;
        min-height: 150px;
}

.menu-card:hover{
    transition: .5s ease all;
    transform: scale(1.2);
}

.footer-card-info h3{
    font-size: 2rem;
}

.footer-card-info__rrss a,li,i{
    font-size: 1.8rem;
}

.footer-card-info p{
    font-size: 1.8rem;
}

}
}